@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
    .header {
        @apply text-white;
        min-height: 650px;
        /* background-image:url("./home/digitechub/apps/netlify/forextradinglamp/public/images/liquid_back.png") */
    }
}

@layer base {
    @font-face {
        font-family: Inter;
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("../../public/fonts/inter/Inter-Regular.ttf") format("ttf");
    }
    @font-face {
        font-family: Inter;
        font-weight: 500;
        font-style: medium;
        font-display: swap;
        src: url("../../public/fonts/inter/Inter-Medium.ttf") format("ttf");
    }
    @font-face {
        font-family: Inter;
        font-weight: 700;
        font-weight: bold;
        font-display: swap;
        src: url("../../public/fonts/inter/Inter-Bold.ttf") format("ttf");
    }
    @font-face {
        font-family: Inter;
        font-weight: 700;
        font-weight: "extrabold";
        font-display: swap;
        src: url("../../public/fonts/inter/Inter-ExtraBold.ttf") format("ttf");
    }
    @font-face {
        font-family: Inter;
        font-weight: black;
        font-weight: 900;
        font-display: swap;
        src: url("../../public/fonts/inter/Inter-Black.ttf") format("ttf");
    }
}
